POSTGRES_PASSWORD=<your_db_password>
POSTGRES_USER=<your_db_user>
POSTGRES_DB=<your_db_name>
POSTGRES_HOST=<your_host>
POSTGRES_PORT=<your_port>
SECRET_KEY=<your_secret_key>

TOKEN=<your_bot_token>
CHAT_ID=<your_chat_id>
CHAT_LINK=<your_chat_link>